.App {
    max-width: 800px;
    margin: 20px auto;
    border: 2px solid black;
}

.post {
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
}

.post h1 {
    text-align: center;
}

.post h3 {
    text-align: right;
}
